<footer class="bg-black py-10 sm:py-16">
  <div class="container">
    <div class="flex flex-wrap justify-between gap-12">
      <div class="w-full sm:w-[20rem] shrink-0">
        <a href="/">
          <img src="./img/footer-logo.svg" alt="365livenews" />
        </a>
        <p class="mt-6 sm:my-6 text-sm">
          365LiveNews - ваш надійний портал для оперативного отримання актуальних новин з усього світу. Завдяки нашій постійно оновлюваній інформації ви завжди будете в курсі
          останніх подій у сферах політики, економіки, культури та спорту.
        </p>
        <div data-da="#subscribe-form,639,98,last" class="circle-divide mt-6 sm:mt-0 flex flex-col sm:flex-row gap-x-6 gap-y-1 flex-wrap">
          <a href="rightsholders.html" class="text-sm uppercase hover:underline">Правовласникам</a>
          <a href="donation.html" class="text-sm uppercase text-yellow-500 hover:underline">Підтримати проект</a>
        </div>
      </div>

      <div class="flex grow md:justify-center gap-20">
        <div>
          <h2 class="mb-4 text-base md:text-xl font-bold uppercase leading-none">Меню</h2>
          <nav>
            <ul class="flex flex-col gap-y-[0.37rem] leading-none">
              <li>
                <a href="#" class="text-base hover:text-primary">Новини</a>
              </li>
              <li>
                <a href="#" class="text-base hover:text-primary">Огляд подій</a>
              </li>
              <li>
                <a href="#" class="text-base hover:text-primary">Анонси</a>
              </li>
            </ul>
          </nav>
        </div>
        <div>
          <h2 class="mb-4 text-base md:text-xl font-bold uppercase leading-none">Контакти</h2>
          <ul class="flex flex-col gap-y-[0.37rem] leading-none">
            <li>
              <a href="mailto:365livesport@gmail.com" class="text-base hover:text-primary">365livesport@gmail.com</a>
            </li>
          </ul>
        </div>
      </div>

      <div id="subscribe-form" class="w-full sm:w-[20rem] shrink-0">
        <h2 class="mb-4 text-base md:text-xl font-bold uppercase leading-none">Підписатись на новини</h2>
        <form action="#" class="mb-3 flex h-9">
          <input
            type="email"
            placeholder="Вкажіть свій email"
            required
            class="h-full w-full rounded-l-sm border border-transparent bg-white px-2 text-black focus:border-primary focus:outline-none" />
          <button type="submit" class="flex h-full items-center justify-center rounded-r-sm bg-primary px-3">
            <img src="./img/fly-arrow.svg" alt="Підписатись на новини" class="h-[1.375rem] w-[1.375rem]" />
          </button>
        </form>
        <ul class="flex gap-3">
          <li>
            <a href="#" class="block h-7 w-7 rounded-sm bg-white p-1 hover:bg-white/80">
              <img src="./img/telegram.svg" alt="Telegram" class="h-full w-full object-contain" />
            </a>
          </li>
          <li>
            <a href="#" class="block h-7 w-7 rounded-sm bg-white p-1 hover:bg-white/80">
              <img src="./img/fb.svg" alt="Facebook" class="h-full w-full object-contain" />
            </a>
          </li>
          <li>
            <a href="#" class="block h-7 w-7 rounded-sm bg-white p-1 hover:bg-white/80">
              <img src="./img/x.svg" alt="Twitter" class="h-full w-full object-contain" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
