<button type="button" class="to-top-button opacity-0 invisible transition-all duration-300 rounded-full p-3 bg-secondary-dark hover:bg-secondary-dark/80 fixed bottom-10 right-10 flex items-center justify-center">
  <svg class="w-5 h-5 text-primary pb-1">
    <use href="./sprites/sprite.svg#icon-simple-arrow"></use>
  </svg>
</button>

<footer class="bg-black py-10 sm:py-16">
  <div class="container">
    <div class="flex flex-wrap justify-between gap-12">
      <div class="w-full shrink-0 sm:w-[20rem]">
        <a href="/">
          <img src="./img/footer-logo.svg" alt="365livenews" />
        </a>
        <p class="mt-6 text-sm sm:my-6">
          365LiveNews - ваш надійний портал для оперативного отримання актуальних новин з усього світу. Завдяки нашій постійно оновлюваній інформації ви завжди будете в курсі
          останніх подій у сферах політики, економіки, культури та спорту.
        </p>
        <div data-da="#subscribe-form,639,98,last" class="circle-divide mt-6 flex flex-col flex-wrap gap-x-6 gap-y-1 sm:mt-0 sm:flex-row">
          <a href="copyright.html" class="text-sm uppercase hover:underline">Правовласникам</a>
          <a href="donation.html" class="text-sm uppercase text-yellow-500 hover:underline">Підтримати проект</a>
        </div>
      </div>

      <div class="flex grow gap-20 md:justify-center">
        <div>
          <h2 class="mb-4 text-base font-bold uppercase leading-none md:text-xl">Меню</h2>
          <nav>
            <ul class="flex flex-col gap-y-[0.37rem] leading-none">
              <li>
                <a href="archive.html" class="text-base hover:text-primary">Новини</a>
              </li>
              <li>
                <a href="archive.html" class="text-base hover:text-primary">Огляд подій</a>
              </li>
              <li>
                <a href="archive.html" class="text-base hover:text-primary">Анонси</a>
              </li>
            </ul>
          </nav>
        </div>
        <div>
          <h2 class="mb-4 text-base font-bold uppercase leading-none md:text-xl">Контакти</h2>
          <ul class="flex flex-col gap-y-[0.37rem] leading-none">
            <li>
              <a href="mailto:365livesport@gmail.com" class="text-base hover:text-primary">365livesport@gmail.com</a>
            </li>
          </ul>
        </div>
      </div>

      <div id="subscribe-form" class="w-full shrink-0 sm:w-[20rem]">
        <h2 class="mb-4 text-base font-bold uppercase leading-none md:text-xl">Підписатись на новини</h2>
        <form action="#" class="mb-3 flex h-9">
          <input
            type="email"
            placeholder="Вкажіть свій email"
            required
            class="h-full w-full rounded-l-sm border border-transparent bg-white px-2 text-black focus:border-primary focus:outline-none" />
          <button type="submit" class="flex h-full items-center justify-center rounded-r-sm bg-primary px-3">
            <img src="./img/fly-arrow.svg" alt="Підписатись на новини" class="h-[1.375rem] w-[1.375rem]" />
          </button>
        </form>
        <ul class="flex gap-3">
          <li>
            <a href="https://t.me/livesport_me_bot" target="_blank" class="block h-7 w-7 rounded-sm bg-white p-1 hover:bg-white/80">
              <img src="./img/telegram.svg" alt="Telegram" class="h-full w-full object-contain" />
            </a>
          </li>
          <li>
            <a href="#" target="_blank" class="block h-7 w-7 rounded-sm bg-white p-1 hover:bg-white/80">
              <img src="./img/fb.svg" alt="Facebook" class="h-full w-full object-contain" />
            </a>
          </li>
          <li>
            <a href="#" target="_blank" class="block h-7 w-7 rounded-sm bg-white p-1 hover:bg-white/80">
              <img src="./img/x.svg" alt="Twitter" class="h-full w-full object-contain" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
