@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../node_modules/swiper/swiper.scss';
@import '../../node_modules/swiper/modules/navigation/navigation.scss';
@import '../../node_modules/swiper/modules/pagination/pagination.scss';


@import "anim-underline";
@import "to-top-button";
@import "circle-divide";
@import "bottom-line";
@import "header-nav";
@import "burger-button";
@import "pulse-dot";

@layer base {
  body {
    @apply bg-secondary text-white text-base font-normal;
  }
}

.swiper-button-lock {
  display: none !important; 
}

.error-page {
  text-align: center;
  padding: 100px 0;
  }
  .error-page-title {
    font-size: 160px;
    font-weight: 700;
    margin-bottom: 25px;
    display: block;
    line-height: 1;
  }
  
  .error-page-text {
    font-size: 32px;
    margin-bottom: 50px;
  }
  .error-page-link {
    font-size: 24px;
    height: 55px;
    padding: 0 20px;
    text-transform: uppercase;
    background-color: rgb(211, 55, 55);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  
  .error-page-link:hover {
    opacity: 0.7;
  }
  .error-page-link-wrap {
    display: flex;
    justify-content: center;
  }
  
  
  @media (max-width: 640px) {
    .error-page-title {
      font-size: 100px;
    }
    .error-page-text {
      font-size: 26px;
      margin-bottom: 30px;
    }
    .error-page-link {
      font-size: 20px;
      height: 45px;
    }
    .error-page {
      padding: 60px 0;
      }
  }
  